<section>
  <div class="headerButton">
    <button [ngClass]="{'border': user==='me'}" class="userButton" (click)="onChangeUser('me')">ME</button>
    <button [ngClass]="{'border': user==='you'}" class="userButton" (click)="onChangeUser('you')">YOU</button>
    </div>
  <todo-query [userId]="user" *ngIf="rehydrated; else loading">
  </todo-query>
  <footer class="headerButton">
    <button 
    class="clear-completed userButton"
    (click)="handleRightEnv($event)">
    Right Environment
</button>
  <button 
          class="clear-completed userButton"
          (click)="handleWrongEnv($event)">
          Wrong Environment
  </button>
</footer>
</section>
<ng-template #loading>
  <div>Loading...</div>
 </ng-template>