.headerButton {
    display: flex;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.userButton {
    margin: auto;
  padding: 10px;
  cursor: pointer;
  flex: 1;
}

.border {
  border: 1px solid #999;
  box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

.clear-completed,
html .clear-completed:active {
  float: right;
  position: relative;
  line-height: 20px;
  text-decoration: none;
  cursor: pointer;
  flex: 1;
}

.clear-completed:hover {
  text-decoration: underline;
}