<footer class="footer" *ngIf="result.data.todos && result.data.todos.edges.length > 0">
  <span class="todo-count"><strong>{{result.data.totalCount - result.data.completedCount}}</strong> {{result.data.totalCount - result.data.completedCount == 1 ? 'item' : 'items'}} left</span>
  <button 
          class="clear-completed"
          (click)="handleRefresh()">
          Refresh
  </button>
  <button 
          class="clear-completed"
          [disabled]="result.data.completedCount == 0"
          (click)="handleRemoveCompletedTodosClick()">
          Clear completed
  </button>
</footer>
