.clear-completed,
html .clear-completed:active {
  float: right;
  position: relative;
  line-height: 20px;
  text-decoration: none;
  cursor: pointer;
  flex: 1;
}

.clear-completed:hover {
  text-decoration: underline;
}